@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-regular: regular, "sans-serif";
  --font-light: light, "sans-serif";
}

@font-face {
  font-family: "Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/inter_regular.ttf");
}
@font-face {
  font-family: "Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/inter_medium.ttf");
}

body{
    font-family: "Regular"
}